.free {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 768px) {
    .free p {
      font-size: 12px; } }
      
.free img {
  width: 250px; }
      
.free h1 {
  font-size: 36px; }
  @media (max-width: 768px) {
    .free h1{
      font-size: 24px; }}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center; }

.mechanics {
  margin-top: 20px;
  max-width: 800px;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6; }

.highlight {
  font-weight: bold;
  color: #007bff; }
  @media (max-width: 768px) {
    .highlight {
      font-size: 12px; } }
      
.note-box, .important-note-box {
  background-color: #e3f2fd;
  padding: 15px;
  border-left: 4px solid #1976d2;
  margin: 10px 0;
  border-radius: 5px;
  color: #333; }
  @media (max-width: 768px) {
    .note-box, .important-note-box  {
      font-size: 12px; } }
      
.important-note-box {
  background-color: #fff9c4;
  border-left-color: #fbc02d; }
      
ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 0; }
  @media (max-width: 768px) {
    li, {
      font-size: 12px; } }
      
.image-grid {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  overflow-x: auto; }
  @media (max-width: 768px) {
    .image-grid {
      justify-content: center;
      gap: 3px; } }

.image-box {
  width: 16%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 10px; }
  @media (max-width: 768px) {
    .image-box {
      padding: 2px; }}
  
.image-box img {
  max-width: 100%;
  height: auto; }
      
.lotto-row {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; }
      
.lotto-balls {
  display: flex;
  margin-left: 10px; 
  flex-wrap: wrap; }
      
.lotto-ball, .lotto-ball2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.1em solid #2d2d2d;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 30% 30%, #fff9c4, #fbc02d, #f57f17);
  font-weight: bold;
  font-size: 1.5em;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3); }
  .lotto-ball2 {
    background: radial-gradient(circle at 30% 30%, #ffcccc, #ff6666, #b30000); }
    @media (max-width: 6768px) {
      .lotto-balls {
        margin-left: 5px; 
        font-size: 1.0em !important; }
      .lotto-ball, .lotto-ball2 {
        max-width: 35px;
        max-height: 35px;
        margin: 1px;
        font-size: 0.8em !important; }}
      
.table-section {
  padding: 10px;
  background-color: #f9f9f9;
  width: 100%; 
  max-width: 800px;
  margin: 0 auto; 
  overflow-x: auto; }
  @media (max-width: 768px) {
    .table-section {
      font-size: 9px; } }

table {
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: auto; }
  @media (max-width: 768px) {
    table {
      width: 100% !important; } }

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  width: 50%; }
  @media (max-width: 768px) {
    th, td {
      padding: 5px; 
      font-size: 8px !important; } }
      
th {
  background-color: #f4f4f4;
  position: sticky;
  word-wrap: break-word; 
  white-space: normal;
  top: 0;
  z-index: 0; }


tr:hover {
  background-color: #ddd; }
      
.button {
  text-decoration: none;
  color: #007bff;
  cursor: pointer; 
  transition: background-color 0.3s; }
  .button:hover {
    color: red; }
      
.button2 {
  text-decoration: none;
  color: red;
  cursor: pointer; 
  transition: background-color 0.3s; }
  .button2:hover {
    color: #007bff; }
      
#textBox {
  border: 2px solid #ccc;
  padding: 16px;
  margin-bottom: 10px;
  width: 40%;
  word-wrap: break-word;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 768px) {
    #textBox {
      font-size: 12px;
      width: 70% !important; } }
      
#copyButton {
  display: block;
  margin: 0 auto; 
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px; }
  #copyButton:hover {
    background-color: #0056b3; }
      
.image-container {
  display: flex; 
  justify-content: center; 
  align-items: center; }

.image-container img {
  width: auto; 
  height: 350px; }
  @media (max-width: 768px) {
    .image-container img {
      max-height: 150px;}}
